@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  background: #D8D8D8;
  color: #791e9e;
}

.article-title, .article-body {
  padding-left: 0.7em;
}

.article-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.article-body {
  font-size: 1.5em;
}

#new-article-btn {
  margin-bottom: 10px;
}

#article-date {
  margin-bottom: 40px;
}

.article-detail-title {
  font-size: 4em;
  margin-bottom: 40px;
}

.btn-space {
  margin-top: 20px;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}